.xmk-icon {
  --xmk-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--xmk-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .xmk-icon--$(val) {
    --xmk-icon-color: var(--xmk-color-$(val));
  }
}
